/* Version: 01.00 */
/* Last Modified: 2025-01-21 */
/* Changes:  */
/* Info: Line Height START */
.line-height-normal {
    line-height: normal !important;
}
.line-height-0 {
    line-height: 0px !important;
}
.line-height-1 {
    line-height: 1px;
}
.line-height-2 {
    line-height: 3px;
}
.line-height-3 {
    line-height: 3px;
}
.line-height-4 {
    line-height: 4px;
}
.line-height-5 {
    line-height: 5px;
}
.line-height-6 {
    line-height: 6px;
}
.line-height-7 {
    line-height: 7px;
}
.line-height-8 {
    line-height: 8px;
}
.line-height-9 {
    line-height: 9px;
}
.line-height-10 {
    line-height: 10px;
}
.line-height-11 {
    line-height: 11px;
}
.line-height-12 {
    line-height: 12px;
}
.line-height-13 {
    line-height: 13px;
}
.line-height-14 {
    line-height: 14px;
}
.line-height-15 {
    line-height: 15px;
}
.line-height-16 {
    line-height: 16px;
}
.line-height-17 {
    line-height: 17px;
}
.line-height-18 {
    line-height: 18px;
}
.line-height-19 {
    line-height: 19px;
}
.line-height-20 {
    line-height: 20px;
}
.line-height-21 {
    line-height: 21px;
}
.line-height-22 {
    line-height: 22px;
}
.line-height-23 {
    line-height: 23px;
}
.line-height-24 {
    line-height: 24px;
}
.line-height-25 {
    line-height: 25px;
}
.line-height-26 {
    line-height: 26px;
}
.line-height-27 {
    line-height: 27px;
}
.line-height-28 {
    line-height: 28px;
}
.line-height-29 {
    line-height: 29px;
}
.line-height-30 {
    line-height: 30px;
}
.line-height-31 {
    line-height: 31px;
}
.line-height-32 {
    line-height: 32px;
}
.line-height-33 {
    line-height: 33px;
}
.line-height-34 {
    line-height: 34px;
}
.line-height-35 {
    line-height: 35px;
}
.line-height-36 {
    line-height: 36px;
}
.line-height-37 {
    line-height: 37px;
}
.line-height-38 {
    line-height: 38px;
}
.line-height-39 {
    line-height: 39px;
}
.line-height-40 {
    line-height: 40px;
}
.line-height-41 {
    line-height: 41px;
}
.line-height-42 {
    line-height: 42px;
}
.line-height-43 {
    line-height: 43px;
}
.line-height-44 {
    line-height: 44px;
}
.line-height-45 {
    line-height: 45px;
}
.line-height-46 {
    line-height: 46px;
}
.line-height-47 {
    line-height: 47px;
}
.line-height-48 {
    line-height: 48px;
}
.line-height-49 {
    line-height: 49px;
}
.line-height-50 {
    line-height: 50px;
}
@media (min-width: 576px) {
    .line-height-sm-normal {
        line-height: normal;
    }
    .line-height-sm-0 {
        line-height: 0px;
    }
    .line-height-sm-1 {
        line-height: 1px;
    }
    .line-height-sm-2 {
        line-height: 3px;
    }
    .line-height-sm-3 {
        line-height: 3px;
    }
    .line-height-sm-4 {
        line-height: 4px;
    }
    .line-height-sm-5 {
        line-height: 5px;
    }
    .line-height-sm-6 {
        line-height: 6px;
    }
    .line-height-sm-7 {
        line-height: 7px;
    }
    .line-height-sm-8 {
        line-height: 8px;
    }
    .line-height-sm-9 {
        line-height: 9px;
    }
    .line-height-sm-10 {
        line-height: 10px;
    }
    .line-height-sm-11 {
        line-height: 11px;
    }
    .line-height-sm-12 {
        line-height: 12px;
    }
    .line-height-sm-13 {
        line-height: 13px;
    }
    .line-height-sm-14 {
        line-height: 14px;
    }
    .line-height-sm-15 {
        line-height: 15px;
    }
    .line-height-sm-16 {
        line-height: 16px;
    }
    .line-height-sm-17 {
        line-height: 17px;
    }
    .line-height-sm-18 {
        line-height: 18px;
    }
    .line-height-sm-19 {
        line-height: 19px;
    }
    .line-height-sm-20 {
        line-height: 20px;
    }
    .line-height-sm-21 {
        line-height: 21px;
    }
    .line-height-sm-22 {
        line-height: 22px;
    }
    .line-height-sm-23 {
        line-height: 23px;
    }
    .line-height-sm-24 {
        line-height: 24px;
    }
    .line-height-sm-25 {
        line-height: 25px;
    }
    .line-height-sm-26 {
        line-height: 26px;
    }
    .line-height-sm-27 {
        line-height: 27px;
    }
    .line-height-sm-28 {
        line-height: 28px;
    }
    .line-height-sm-29 {
        line-height: 29px;
    }
    .line-height-sm-30 {
        line-height: 30px;
    }
    .line-height-sm-31 {
        line-height: 31px;
    }
    .line-height-sm-32 {
        line-height: 32px;
    }
    .line-height-sm-33 {
        line-height: 33px;
    }
    .line-height-sm-34 {
        line-height: 34px;
    }
    .line-height-sm-35 {
        line-height: 35px;
    }
    .line-height-sm-36 {
        line-height: 36px;
    }
    .line-height-sm-37 {
        line-height: 37px;
    }
    .line-height-sm-38 {
        line-height: 38px;
    }
    .line-height-sm-39 {
        line-height: 39px;
    }
    .line-height-sm-40 {
        line-height: 40px;
    }
    .line-height-sm-41 {
        line-height: 41px;
    }
    .line-height-sm-42 {
        line-height: 42px;
    }
    .line-height-sm-43 {
        line-height: 43px;
    }
    .line-height-sm-44 {
        line-height: 44px;
    }
    .line-height-sm-45 {
        line-height: 45px;
    }
    .line-height-sm-46 {
        line-height: 46px;
    }
    .line-height-sm-47 {
        line-height: 47px;
    }
    .line-height-sm-48 {
        line-height: 48px;
    }
    .line-height-sm-49 {
        line-height: 49px;
    }
    .line-height-sm-50 {
        line-height: 50px;
    }
}
@media (min-width: 768px) {
    .line-height-md-normal {
        line-height: normal;
    }
    .line-height-md-0 {
        line-height: 0px;
    }
    .line-height-md-1 {
        line-height: 1px;
    }
    .line-height-md-2 {
        line-height: 3px;
    }
    .line-height-md-3 {
        line-height: 3px;
    }
    .line-height-md-4 {
        line-height: 4px;
    }
    .line-height-md-5 {
        line-height: 5px;
    }
    .line-height-md-6 {
        line-height: 6px;
    }
    .line-height-md-7 {
        line-height: 7px;
    }
    .line-height-md-8 {
        line-height: 8px;
    }
    .line-height-md-9 {
        line-height: 9px;
    }
    .line-height-md-10 {
        line-height: 10px;
    }
    .line-height-md-11 {
        line-height: 11px;
    }
    .line-height-md-12 {
        line-height: 12px;
    }
    .line-height-md-13 {
        line-height: 13px;
    }
    .line-height-md-14 {
        line-height: 14px;
    }
    .line-height-md-15 {
        line-height: 15px;
    }
    .line-height-md-16 {
        line-height: 16px;
    }
    .line-height-md-17 {
        line-height: 17px;
    }
    .line-height-md-18 {
        line-height: 18px;
    }
    .line-height-md-19 {
        line-height: 19px;
    }
    .line-height-md-20 {
        line-height: 20px;
    }
    .line-height-md-21 {
        line-height: 21px;
    }
    .line-height-md-22 {
        line-height: 22px;
    }
    .line-height-md-23 {
        line-height: 23px;
    }
    .line-height-md-24 {
        line-height: 24px;
    }
    .line-height-md-25 {
        line-height: 25px;
    }
    .line-height-md-26 {
        line-height: 26px;
    }
    .line-height-md-27 {
        line-height: 27px;
    }
    .line-height-md-28 {
        line-height: 28px;
    }
    .line-height-md-29 {
        line-height: 29px;
    }
    .line-height-md-30 {
        line-height: 30px;
    }
    .line-height-md-31 {
        line-height: 31px;
    }
    .line-height-md-32 {
        line-height: 32px;
    }
    .line-height-md-33 {
        line-height: 33px;
    }
    .line-height-md-34 {
        line-height: 34px;
    }
    .line-height-md-35 {
        line-height: 35px;
    }
    .line-height-md-36 {
        line-height: 36px;
    }
    .line-height-md-37 {
        line-height: 37px;
    }
    .line-height-md-38 {
        line-height: 38px;
    }
    .line-height-md-39 {
        line-height: 39px;
    }
    .line-height-md-40 {
        line-height: 40px;
    }
    .line-height-md-41 {
        line-height: 41px;
    }
    .line-height-md-42 {
        line-height: 42px;
    }
    .line-height-md-43 {
        line-height: 43px;
    }
    .line-height-md-44 {
        line-height: 44px;
    }
    .line-height-md-45 {
        line-height: 45px;
    }
    .line-height-md-46 {
        line-height: 46px;
    }
    .line-height-md-47 {
        line-height: 47px;
    }
    .line-height-md-48 {
        line-height: 48px;
    }
    .line-height-md-49 {
        line-height: 49px;
    }
    .line-height-md-50 {
        line-height: 50px;
    }
}
@media (min-width: 992px) {
    .line-height-lg-normal {
        line-height: normal;
    }
    .line-height-lg-0 {
        line-height: 0px;
    }
    .line-height-lg-1 {
        line-height: 1px;
    }
    .line-height-lg-2 {
        line-height: 3px;
    }
    .line-height-lg-3 {
        line-height: 3px;
    }
    .line-height-lg-4 {
        line-height: 4px;
    }
    .line-height-lg-5 {
        line-height: 5px;
    }
    .line-height-lg-6 {
        line-height: 6px;
    }
    .line-height-lg-7 {
        line-height: 7px;
    }
    .line-height-lg-8 {
        line-height: 8px;
    }
    .line-height-lg-9 {
        line-height: 9px;
    }
    .line-height-lg-10 {
        line-height: 10px;
    }
    .line-height-lg-11 {
        line-height: 11px;
    }
    .line-height-lg-12 {
        line-height: 12px;
    }
    .line-height-lg-13 {
        line-height: 13px;
    }
    .line-height-lg-14 {
        line-height: 14px;
    }
    .line-height-lg-15 {
        line-height: 15px;
    }
    .line-height-lg-16 {
        line-height: 16px;
    }
    .line-height-lg-17 {
        line-height: 17px;
    }
    .line-height-lg-18 {
        line-height: 18px;
    }
    .line-height-lg-19 {
        line-height: 19px;
    }
    .line-height-lg-20 {
        line-height: 20px;
    }
    .line-height-lg-21 {
        line-height: 21px;
    }
    .line-height-lg-22 {
        line-height: 22px;
    }
    .line-height-lg-23 {
        line-height: 23px;
    }
    .line-height-lg-24 {
        line-height: 24px;
    }
    .line-height-lg-25 {
        line-height: 25px;
    }
    .line-height-lg-26 {
        line-height: 26px;
    }
    .line-height-lg-27 {
        line-height: 27px;
    }
    .line-height-lg-28 {
        line-height: 28px;
    }
    .line-height-lg-29 {
        line-height: 29px;
    }
    .line-height-lg-30 {
        line-height: 30px;
    }
    .line-height-lg-31 {
        line-height: 31px;
    }
    .line-height-lg-32 {
        line-height: 32px;
    }
    .line-height-lg-33 {
        line-height: 33px;
    }
    .line-height-lg-34 {
        line-height: 34px;
    }
    .line-height-lg-35 {
        line-height: 35px;
    }
    .line-height-lg-36 {
        line-height: 36px;
    }
    .line-height-lg-37 {
        line-height: 37px;
    }
    .line-height-lg-38 {
        line-height: 38px;
    }
    .line-height-lg-39 {
        line-height: 39px;
    }
    .line-height-lg-40 {
        line-height: 40px;
    }
    .line-height-lg-41 {
        line-height: 41px;
    }
    .line-height-lg-42 {
        line-height: 42px;
    }
    .line-height-lg-43 {
        line-height: 43px;
    }
    .line-height-lg-44 {
        line-height: 44px;
    }
    .line-height-lg-45 {
        line-height: 45px;
    }
    .line-height-lg-46 {
        line-height: 46px;
    }
    .line-height-lg-47 {
        line-height: 47px;
    }
    .line-height-lg-48 {
        line-height: 48px;
    }
    .line-height-lg-49 {
        line-height: 49px;
    }
    .line-height-lg-50 {
        line-height: 50px;
    }
}
@media (min-width: 1200px) {
    .line-height-xl-normal {
        line-height: normal;
    }
    .line-height-xl-0 {
        line-height: 0px;
    }
    .line-height-xl-1 {
        line-height: 1px;
    }
    .line-height-xl-2 {
        line-height: 3px;
    }
    .line-height-xl-3 {
        line-height: 3px;
    }
    .line-height-xl-4 {
        line-height: 4px;
    }
    .line-height-xl-5 {
        line-height: 5px;
    }
    .line-height-xl-6 {
        line-height: 6px;
    }
    .line-height-xl-7 {
        line-height: 7px;
    }
    .line-height-xl-8 {
        line-height: 8px;
    }
    .line-height-xl-9 {
        line-height: 9px;
    }
    .line-height-xl-10 {
        line-height: 10px;
    }
    .line-height-xl-11 {
        line-height: 11px;
    }
    .line-height-xl-12 {
        line-height: 12px;
    }
    .line-height-xl-13 {
        line-height: 13px;
    }
    .line-height-xl-14 {
        line-height: 14px;
    }
    .line-height-xl-15 {
        line-height: 15px;
    }
    .line-height-xl-16 {
        line-height: 16px;
    }
    .line-height-xl-17 {
        line-height: 17px;
    }
    .line-height-xl-18 {
        line-height: 18px;
    }
    .line-height-xl-19 {
        line-height: 19px;
    }
    .line-height-xl-20 {
        line-height: 20px;
    }
    .line-height-xl-21 {
        line-height: 21px;
    }
    .line-height-xl-22 {
        line-height: 22px;
    }
    .line-height-xl-23 {
        line-height: 23px;
    }
    .line-height-xl-24 {
        line-height: 24px;
    }
    .line-height-xl-25 {
        line-height: 25px;
    }
    .line-height-xl-26 {
        line-height: 26px;
    }
    .line-height-xl-27 {
        line-height: 27px;
    }
    .line-height-xl-28 {
        line-height: 28px;
    }
    .line-height-xl-29 {
        line-height: 29px;
    }
    .line-height-xl-30 {
        line-height: 30px;
    }
    .line-height-xl-31 {
        line-height: 31px;
    }
    .line-height-xl-32 {
        line-height: 32px;
    }
    .line-height-xl-33 {
        line-height: 33px;
    }
    .line-height-xl-34 {
        line-height: 34px;
    }
    .line-height-xl-35 {
        line-height: 35px;
    }
    .line-height-xl-36 {
        line-height: 36px;
    }
    .line-height-xl-37 {
        line-height: 37px;
    }
    .line-height-xl-38 {
        line-height: 38px;
    }
    .line-height-xl-39 {
        line-height: 39px;
    }
    .line-height-xl-40 {
        line-height: 40px;
    }
    .line-height-xl-41 {
        line-height: 41px;
    }
    .line-height-xl-42 {
        line-height: 42px;
    }
    .line-height-xl-43 {
        line-height: 43px;
    }
    .line-height-xl-44 {
        line-height: 44px;
    }
    .line-height-xl-45 {
        line-height: 45px;
    }
    .line-height-xl-46 {
        line-height: 46px;
    }
    .line-height-xl-47 {
        line-height: 47px;
    }
    .line-height-xl-48 {
        line-height: 48px;
    }
    .line-height-xl-49 {
        line-height: 49px;
    }
    .line-height-xl-50 {
        line-height: 50px;
    }
}
@media (min-width: 1400px) {
    .line-height-xxl-normal {
        line-height: normal;
    }
    .line-height-xxl-0 {
        line-height: 0px;
    }
    .line-height-xxl-1 {
        line-height: 1px;
    }
    .line-height-xxl-2 {
        line-height: 3px;
    }
    .line-height-xxl-3 {
        line-height: 3px;
    }
    .line-height-xxl-4 {
        line-height: 4px;
    }
    .line-height-xxl-5 {
        line-height: 5px;
    }
    .line-height-xxl-6 {
        line-height: 6px;
    }
    .line-height-xxl-7 {
        line-height: 7px;
    }
    .line-height-xxl-8 {
        line-height: 8px;
    }
    .line-height-xxl-9 {
        line-height: 9px;
    }
    .line-height-xxl-10 {
        line-height: 10px;
    }
    .line-height-xxl-11 {
        line-height: 11px;
    }
    .line-height-xxl-12 {
        line-height: 12px;
    }
    .line-height-xxl-13 {
        line-height: 13px;
    }
    .line-height-xxl-14 {
        line-height: 14px;
    }
    .line-height-xxl-15 {
        line-height: 15px;
    }
    .line-height-xxl-16 {
        line-height: 16px;
    }
    .line-height-xxl-17 {
        line-height: 17px;
    }
    .line-height-xxl-18 {
        line-height: 18px;
    }
    .line-height-xxl-19 {
        line-height: 19px;
    }
    .line-height-xxl-20 {
        line-height: 20px;
    }
    .line-height-xxl-21 {
        line-height: 21px;
    }
    .line-height-xxl-22 {
        line-height: 22px;
    }
    .line-height-xxl-23 {
        line-height: 23px;
    }
    .line-height-xxl-24 {
        line-height: 24px;
    }
    .line-height-xxl-25 {
        line-height: 25px;
    }
    .line-height-xxl-26 {
        line-height: 26px;
    }
    .line-height-xxl-27 {
        line-height: 27px;
    }
    .line-height-xxl-28 {
        line-height: 28px;
    }
    .line-height-xxl-29 {
        line-height: 29px;
    }
    .line-height-xxl-30 {
        line-height: 30px;
    }
    .line-height-xxl-31 {
        line-height: 31px;
    }
    .line-height-xxl-32 {
        line-height: 32px;
    }
    .line-height-xxl-33 {
        line-height: 33px;
    }
    .line-height-xxl-34 {
        line-height: 34px;
    }
    .line-height-xxl-35 {
        line-height: 35px;
    }
    .line-height-xxl-36 {
        line-height: 36px;
    }
    .line-height-xxl-37 {
        line-height: 37px;
    }
    .line-height-xxl-38 {
        line-height: 38px;
    }
    .line-height-xxl-39 {
        line-height: 39px;
    }
    .line-height-xxl-40 {
        line-height: 40px;
    }
    .line-height-xxl-41 {
        line-height: 41px;
    }
    .line-height-xxl-42 {
        line-height: 42px;
    }
    .line-height-xxl-43 {
        line-height: 43px;
    }
    .line-height-xxl-44 {
        line-height: 44px;
    }
    .line-height-xxl-45 {
        line-height: 45px;
    }
    .line-height-xxl-46 {
        line-height: 46px;
    }
    .line-height-xxl-47 {
        line-height: 47px;
    }
    .line-height-xxl-48 {
        line-height: 48px;
    }
    .line-height-xxl-49 {
        line-height: 49px;
    }
    .line-height-xxl-50 {
        line-height: 50px;
    }
}
/* Info: font size END */